p{
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first{
    background-image: url(shylet.jpg);
    background-size: cover;
    border: 0ch;
    text-align: center;
    background-repeat: no-repeat;
    padding: 150px 100px;
    font-size: 25px;
}
.bit{
    text-decoration: none;
    background-color: orangered;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.second{
    display: flex;
    padding: 10px 5px;
    text-align: center;
    text-decoration: solid;
    font-size: x-large;
    padding-left: 200px;
    padding-right: 300px;
}
.box{
    padding-left: 60px;
    padding-right: 50px;
background-color: rgb(248, 239, 239);
  margin: 1%;
  border-radius: 5px;
  padding-top: 5px;
 
}
.git{
    display: block;
    text-align: center;
}
.mia{
    text-align: center;
    padding:20px;
    display: block;
    line-height: 10px;
}
.third{
    display: flex;
    padding-left:80px;
}
.got{
    padding-left: 60px;
    padding-right: 50px;
background-color: rgb(173, 173, 214);
  margin: 1%;
  border-radius: 5px;
  font-size: medium;
  padding-top: 5px;
  
}
.jit{
    padding-left: 60px;
    padding-right: 50px;
background-color: rgb(170, 207, 190);
  margin: 1%;
  border-radius: 5px;
  font-size: medium;
  padding-top: 5px;
}
.anik{
    width: 50%;
}
.anik img{
    width: 90%;
    height: 120%;
    
}
.final{
    display: flex;
    background-image: url(iso.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 400px;
padding-right: 500px;

}
section{
    padding-left:100px;
    padding-top:100px ;
}
.tax{
    border: 2px solid black;
    margin: 5%;
    padding-left: 20%;
    padding-right: 20%;
display: flex;

}